<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
 <ul>
      <li><strong>A</strong> Penitenciária Federal em Brasília/DF</li>
      <li><strong>B</strong> Penitenciária Federal em Campo Grande/MS</li>
      <li><strong>C</strong> Penitenciária Federal em Catanduvas/PR</li>
      <li><strong>D</strong> Penitenciária Federal em Porto Velho/RO</li>
      <li><strong>E</strong> Penitenciária Federal em Mossoró/RN</li>
      <li><strong>F</strong> Gabinete da Direção-Geral do Departamento Penitenciário Nacional, em Brasília/DF</li>
      <li><strong>G</strong> Diretoria-Executiva, em Brasília/DF</li>
      <li><strong>H</strong> Diretoria do Sistema Penitenciário Federal, em Brasília/DF</li>
      <li><strong>I</strong> Diretoria de Políticas Penitenciárias, em Brasília/DF</li>
      <li><strong>J</strong> Escola Nacional de Serviços Penais, em Brasília/DF</li>
      <li><strong>K</strong> Assessoria de Gestão de Riscos, em Brasília/DF</li>
      <li><strong>L</strong> Assessoria de Assuntos Estratégicos, em Brasília/DF</li>
      <li><strong>M</strong> Ouvidoria Nacional dos Serviços Penais, em Brasília/DF</li>
    </ul>
  <div class="form-inputs">


    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
